.navbar-link {
	text-decoration: none;
}
.navbar-link:hover {
	color: var(--primary);
}

.icon-github {
	background: black;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 40px;
}
.icon-gmail {
	background: white;
}

.icon-link {
	text-decoration: none;
	color: white;
}

.icon-link:hover {
	background-image: var(--bs-gradient);
	color: var(--bg-primary);
}
